[Unit]
Description=Gunicorn instance to serve physiotherapist webpage
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/physiotherapist_webpage
Environment="PATH=/var/www/physiotherapist_webpage/venv/bin"
ExecStart=/var/www/physiotherapist_webpage/venv/bin/gunicorn --workers 3 --bind unix:physiotherapist.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target 